<!-- Landing page for stories -->

<%- include('../partials/header.ejs')%>

    <main>
        <%if(stories.length != 0) { %>
            <h1 class="fw-bold display-5 d-flex justify-content-center">Please Select</h1><br> 
            <%stories.forEach(story=>{ %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <a class="navbar-brand d-flex justify-content-center" href="/stories/<%= story.id%>"><img src="<%= story.image %>" alt="musican-icon" width="400" class="img-fluid rounded"></a>

                            <a class="navbar-brand d-flex justify-content-center" href="/stories/<%= story.id %>">
                                <p class="text-center">
                                    <%= story.category %> with <%= story.host %><br>
                                    From: <%= story.startDateTime %><br> 
                                    To: <%= story.endDateTime %><br>
                                </p>
                                <br><br><br><br> 
                            </a>
                        </div>                     
                    </div>
                </div>
            <% });
        } else { %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <h1 class="fw-bold display-5 d-flex justify-content-center">There are no events to display</h1>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        <%} %>
    </main>

<%- include('../partials/footer.ejs') %>