<!-- Landing page for events -->

<%- include('../partials/header.ejs') %>

    <main>
        <% if (Object.keys(getAllCategories).length) { %>
            <% Object.keys(getAllCategories).forEach(category => { %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h4 class="fw-bold display-5 d-flex justify-content-center"><%= category %></h4>
                            <% getAllCategories[category].forEach(event => { %>
                                <!-- <a class="navbar-brand d-flex justify-content-center" href="/events/<%= event.id%>"><img src="<%= event.image %>" alt="musican-icon" width="400" class="img-fluid rounded"></a> -->

                                <a class="navbar-brand d-flex justify-content-center" href="/events/<%= event.id %>">
                                    <p class="text-center">
                                        With <%= event.host %><br>
                                    </p>
                                    <br><br><br>
                                </a>
                            <% }); %>
                        </div>                     
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <h1 class="fw-bold display-5 d-flex justify-content-center">There are no events to display</h1>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        <% } %>
    </main>

<%- include('../partials/footer.ejs') %>