<%- include('../partials/header.ejs')%>

    <main>
        <div class="event-main-margin" id="event-main-margin">
            <!-- <h1><span class="fw-bold"><%= event.category %>: <%= event.title %></span></h1> -->
            <h1><span class="fw-bold"><%= event.title %></span></h1>
            <br>

            <h5 class="mr-2">Going?</h5>
            <div class="col-6 d-flex align-items-center">
    
                <form method="#" action="#" class="mr-3 col-auto">
                    <button type="submit" class="btn btn-success btn-primary btn-sm btn-action">Yes</button>
                </form>
                
                <form method="#" action="#" class="mr-3 col-auto">
                    <button type="submit" class="btn btn-danger btn-primary btn-sm btn-action">No</button>
                </form>
                
                <form method="#" action="#" class="col-auto ml-3">
                    <button type="submit" class="btn btn-primary btn-primary btn-sm btn-action">Maybe</button>
                </form>
            </div>

            <br>

            <img src="<%= event.image %>" alt="picture-of-host(s)" width="400" class="img-fluid"> 
            
            <br><br>
            <div class="event-highlights">
                <ul class="list-unstyled">
                    <!-- <li><span class="fw-bold text-decoration-underline">Title:</span> <%= event.title %> <br> </li> -->
                    <li><span class="fw-bold text-decoration-underline">Host:</span> <%= event.host.firstName %> <%= '' %> <%= event.host.lastName %>  <br> </li>
                    <li><span class="fw-bold text-decoration-underline">Dates and Time:</span>
                        <!-- Convert Data object to a string, representing data/time -->
                        <%= event.startDateTime.toLocaleString(undefined, { weekday: 'short', year: 'numeric', 
                        month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }) %>
                        -
                        <%= event.endDateTime.toLocaleString(undefined, { weekday: 'short', year: 'numeric', 
                        month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }) %>
                        <br>
                    </li>
                    <li><span class="fw-bold text-decoration-underline">Location:</span> <%= event.location %> <br> </li>
                    <li><span class="fw-bold text-decoration-underline">Details:</span> <%= event.details %></li> 
                </ul>
                <br>
            </div>
            <br>
        </div>
    </main>

<%- include('../partials/footer.ejs') %>

