<%- include('../partials/header.ejs')%>

    <main>
        <div class="event-main-margin" id="event-main-margin">
            <h1><span class="fw-bold"><%= event.title %></span></h1>
            <br>

            <!-- Display RSVP buttons only if the logged-in user is not the host -->
            <% if (!user || (user && user._id.toString() !== event.host._id.toString())) { %> <!--Condition is true if either (there is no user logged in or there is a user loggged in but they are not the host of the crrent event)-->
                <form method="POST" action="/events/<%= event._id %>/rsvp">
                    <h5>Going?</h5>
                    <button type="submit" name="status" value="YES" class="btn btn-success btn-sm btn-action">Yes</button>
                    <button type="submit" name="status" value="NO" class="btn btn-danger btn-sm btn-action">No</button>
                    <button type="submit" name="status" value="MAYBE" class="btn btn-primary btn-sm btn-action">Maybe</button>
                </form>
            <% } else { %>
                <!-- Display a message or anything else for the host -->
                <p class="bg-warning d-inline-block fw-bold">**You are the host of this event.**</p>

            <% } %>

            <br>

            <img src="<%= event.image %>" alt="picture-of-host(s)" width="400" class="img-fluid"> 
            
            <br><br>
            <div class="event-highlights">
                <ul class="list-unstyled">
                    <li><span class="fw-bold text-decoration-underline">Host:</span> <%= event.host.firstName %> <%= '' %> <%= event.host.lastName %>  <br> </li>
                    <li><span class="fw-bold text-decoration-underline">Dates and Time:</span>
                        <!-- Convert Data object to a string, representing data/time -->
                        <%= event.startDateTime.toLocaleString(undefined, { weekday: 'short', year: 'numeric', 
                        month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }) %>
                        -
                        <%= event.endDateTime.toLocaleString(undefined, { weekday: 'short', year: 'numeric', 
                        month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }) %>
                        <br>
                    </li>
                    <li><span class="fw-bold text-decoration-underline">Location:</span> <%= event.location %> <br> </li>
                    <li><span class="fw-bold text-decoration-underline">Details:</span> <%= event.details %></li> 
                    <!-- Display total number of 'YES' responses -->
                    <li>

                        <span class="fw-bold text-decoration-underline">Number of RSVP:</span> 

                        <!-- calculates and displays the count of "YES" responses for the current event in EJS template. -->
                        <!-- event.rsvps: Accesses the array of RSVPs associated with the event object.
                        .filter(rsvp => rsvp.status === 'YES'): Filters the RSVPs array to only include those with a status equal to 'YES'.
                        .length: Returns the number of elements in the filtered array, which represents the count of "YES" responses for that event. -->
                        <%= event.rsvps.filter(rsvp => rsvp.status === 'YES').length %>
                        
                    </li>
                </ul>
                <br>
            </div>
            <br>
        </div>
    </main>

<%- include('../partials/footer.ejs') %>

